%footer.center
	.row
		.col-md-2
		.col-md-8
			5790 Holly Springs Parkway, Woodstock, GA 30188 | 770-592-2404
			%a.right{:href => "#"}
				Terms and Conditions
		.col-md-2
	.row
		.col-md-2
		.col-md-8.smaller
			Bacon ipsum dolor amet tail strip steak meatball flank porchetta tri-tip corned beef t-bone prosciutto filet mignon bresaola frankfurter doner. Boudin brisket turkey venison shank alcatra rump drumstick pancetta bresaola spare ribs meatball frankfurter tail tongue. 
		.col-md-2
	.row
		.col-md-2
		.col-md-8.center	
			Copyright 2015. All Rights Reserved.
		.col-md-2