%footer.center
	.row
		.col-md-2
		.col-md-8
			5790 Holly Springs Parkway, Woodstock, GA 30188 | 770-592-2404
			%a.right{:href => "/assets/pdfs/tandc.pdf"}
				Terms and Conditions
		.col-md-2
	.row
		.col-md-2
		.col-md-8.smaller
			
		.col-md-2
	.row
		.col-md-2
		.col-md-8.center	
			Copyright 2015. All Rights Reserved.
		.col-md-2