.row-fluid
  .span3.shim-top.small
    =image_tag("serenitylogoimage.png", class:"img-responsive")
  .span6
    =image_tag("headerimage.png", class:"img-responsive header-middle")
  .span3.shim-top.med
    .top-social
      =image_tag("facebookimage.png")
      =image_tag("twitterimage.png")
      =image_tag("pinimage.png")
      =image_tag("googleplusimage.png")
    =image_tag("treetopimage.png", class:"img-responsive shim-left small")
    .header-phone
      770 - 000 - 0000 / 770 - 500 - 8876