.container
  =render '/shared/header'

  .row
    .col-md-12.navvy
      .row
        
        .col-sm-2
          %a{:href => "/"}
            HOME
        .col-sm-2
          %a{:href => "/features"}
            FEATURES
        .col-sm-2
          %a{:href => "/plans"}
            FLOORPLANS
        .col-sm-2
          %a{:href => "/location"}
            LOCATION
        .col-sm-2
          %a{:href => "/site-plan"}
            SITE PLAN
        .col-sms-2.active
          %a{:href => "/contact"}
            CONTACT US  
          
  .row.shim-top.sm
    .col-md-1
    .col-md-5
      We'd love to hear from you.  You can find our agent at our location (Coming soon in December 2015) or email us any questions you have.
      %br/
      %br/
      5790 Holly Springs Parkway
      Woodstock, GA 30188

      %br/
      %br/
      770-000-0000
      %br/
      770-500-8876

      %br/
      %br/
      .contact-us-emails
        %a{:href => "mailto:email1@olga.com"}
          email1@olga.com
        %br/
        %a{:href => "mailto:email2@olga.com"}
          email2@olga.com
      %br/
      
      %b
        Send us any additional questions
      %br/
      %form.contact-form{:action => "/api/contact-us"}
        .row
          .col-md-1
            .contact-labels
              Name
          .col-md-11
            %input{:type => "text"}/
        .row
          .col-md-1
            .contact-labels
              Phone
          .col-md-11
            %input{:type => "text"}/
        .row
          .col-md-1
            .contact-labels
              Email
          .col-md-11
            %input{:type => "text"}/
        .row.text-area
          .col-md-1
            .contact-labels
              Text
          .col-md-11
            %textarea{:name => "text-summary", :cols => "60", :rows => "10"}
        .row
          .col-md-6
          .col-md-4
            %button.right.contact-submit
              Submit
        

        
        
    .col-md-5.map
      %script{:src => "https://maps.googleapis.com/maps/api/js?v=3.exp"}
      %div{:style => "overflow:hidden;height:400px;width:350px;"}
        #gmap_canvas{:style => "height:400px;width:350px;"}
        :css
          #gmap_canvas img{max-width:none!important;background:none!important}%a{:href => "http://www.maps-generator.com/"} Click
      %script{:src => "https://embedmaps.com/google-maps-authorization/script.js?id=3d7cb0bb20ac6196ce215b928c0ae91e9fc06bd7", :type => "text/javascript"}
      :javascript
        function init_map(){var myOptions = {zoom:16,center:new google.maps.LatLng(34.1358338,-84.49990209999999),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(34.1358338,-84.49990209999999)});infowindow = new google.maps.InfoWindow({content:'5790 Holly Springs Parkway, Woodstock, GA '});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);
      / %img.contact-us{:alt => "Google Map of 5790 Holly Springs Parkway, Woodstock, GA", :src => "http://maps.googleapis.com/maps/api/staticmap?center=5790+Holly+Springs+Parkway,+Woodstock,+GA&zoom=16&scale=true&size=400x350&maptype=roadmap&format=jpg&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7C5790+Holly+Springs+Parkway,+Woodstock,+GA"}/
      .row.shim-top.med
        .col-md-2
        .col-md-7
          %a{:href => "#"}
            Click here to find directions to Serenity
        .col-md-3
    .span1
  .row
    .span6
      %br/
      %br/
    .span6
  =render 'shared/footer'
      
