

.container
  =render '/shared/header'
  .row
    .col-md-12.navvy
      .row
        
        .col-sm-2
          %a{:href => "/"}
            HOME
        .col-sm-2
          %a{:href => "/features"}
            FEATURES
        .col-sm-2.active
          %a{:href => "/plans"}
            FLOORPLANS
        .col-sm-2
          %a{:href => "/location"}
            LOCATION
        .col-sm-2
          %a{:href => "/site-plan"}
            SITE PLAN
        .col-sms-2
          %a{:href => "/contact"}
            CONTACT US   


  .row.shim-top.sm
    .col-md-2.col-sm-1
    .col-md-8.col-sm-10.plan-bar
      Plan Claire
      .row.generic.shim-top.sm
        .col-md-5.col-sm-5
          =image_tag("Plan1_Claire/1.jpg", style:"width:300px;", class:"plana-main")
          .slidesA.plana
            %div 
              =image_tag("Plan1_Claire/1.jpg", style:"width:95px;", id:"a1", class:"lil-plana")
            %div 
              =image_tag("Plan1_Claire/2.jpg", style:"width:95px;", id:"a2", class:"lil-plana")
            %div 
              =image_tag("Plan1_Claire/3.jpg", style:"width:95px;", id:"a3", class:"lil-plana")
            %div 
              =image_tag("Plan1_Claire/4.jpg", style:"width:95px;", id:"a4", class:"lil-plana")
            %div 
              =image_tag("Plan1_Claire/5.jpg", style:"width:95px;", id:"a5", class:"lil-plana")
            %div 
              =image_tag("Plan1_Claire/6.jpg", style:"width:95px;", id:"a6", class:"lil-plana")
            %div 
              =image_tag("Plan1_Claire/7.jpg", style:"width:95px;", id:"a7", class:"lil-plana")
            %div 
              =image_tag("Plan1_Claire/8.jpg", style:"width:95px;", id:"a8", class:"lil-plana")
            %div 
              =image_tag("Plan1_Claire/9.jpg", style:"width:95px;", id:"a9", class:"lil-plana")
            %div 
              =image_tag("Plan1_Claire/10.jpg", style:"width:95px;", id:"a10", class:"lil-plana")
            %div 
              =image_tag("Plan1_Claire/11.jpg", style:"width:95px;", id:"a11", class:"lil-plana")
          .row
            .col-md-12.col-sm-12.center
              %a.small-font.lnk1{:href => "#"}
                Click to view more larger images

        .col-md-7.col-sm-7.small.fp
          .row
            .col-md-6.col-sm-6.fp
              %b.title
                Sq. Ft.: 
              1500 - 3000
              %br
              %br
              %b.title
                Home Features:
              %ul.no-list-style
                %li 2+ bedrooms
                %li 2+ bathrooms
                %li Walk-in closets
                %li Custom gourmet kitchen
            
            .col-md-6.col-sm-6.fp
              %a.title{:href => "#"}
                View Floor Plans &amp; Elevations
              %br
              %strong.title
                Contact Agent:
              %br
              (770) 000-0001
              %br
              blah@bb@g.com
              %br
              %br
              %a.title{:href => "#"}
                Download house plan details in PDF format
          .row
            .col-md-12.fp
              %strong.title
                House Features:
              %ul.no-list-style.fp
                %li 9' Ceilings
                %li Crown Molding
                %li Crown Molding
                %li Crown Molding
  .row.shim-top.sm
    .col-md-2.col-sm-1
    .col-md-8.col-sm-10.plan-bar
      Plan Inverness
      .row.generic.shim-top.sm
        .col-md-5.col-sm-5
          =image_tag("Plan2_Inverness/Plan2_1.jpg", style:"width:300px;", class:"planb-main")
          .slidesA.plana
            %div 
              =image_tag("Plan2_Inverness/Plan2_1.jpg", style:"width:95px;", id:"a1", class:"lil-planb")
            %div 
              =image_tag("Plan2_Inverness/Plan2_2.jpg", style:"width:95px;", id:"a2", class:"lil-planb")
            %div 
              =image_tag("Plan2_Inverness/Plan2_3.jpg", style:"width:95px;", id:"a3", class:"lil-planb")
            %div 
              =image_tag("Plan2_Inverness/Plan2_4.jpg", style:"width:95px;", id:"a4", class:"lil-planb")
            %div 
              =image_tag("Plan2_Inverness/Plan2_5.jpg", style:"width:95px;", id:"a5", class:"lil-planb")
            %div 
              =image_tag("Plan2_Inverness/Plan2_6.jpg", style:"width:95px;", id:"a6", class:"lil-planb")
            %div 
              =image_tag("Plan2_Inverness/Plan2_7.jpg", style:"width:95px;", id:"a7", class:"lil-planb")
            %div 
              =image_tag("Plan2_Inverness/Plan2_8.jpg", style:"width:95px;", id:"a8", class:"lil-planb")
            %div 
              =image_tag("Plan2_Inverness/Plan2_9.jpg", style:"width:95px;", id:"a9", class:"lil-planb")
            %div 
              =image_tag("Plan2_Inverness/Plan2_10.jpg", style:"width:95px;", id:"a10", class:"lil-planb")
            %div 
              =image_tag("Plan2_Inverness/Plan2_11.jpg", style:"width:95px;", id:"a11", class:"lil-planb")
            %div 
              =image_tag("Plan2_Inverness/Plan2_12.jpg", style:"width:95px;", id:"a12", class:"lil-planb")
          .row
            .col-md-12.col-sm-12.center
              %a.small-font.lnk2{:href => "#"}
                Click to view more larger images
        .col-md-7.col-sm-7.small.fp
          .row
            .col-md-6.col-sm-6.fp
              %b.title
                Sq. Ft.: 
              1500 - 3000
              %br
              %br
              %b.title
                Home Features:
              %ul.no-list-style
                %li 2+ bedrooms
                %li 2+ bathrooms
                %li Walk-in closets
                %li Custom gourmet kitchen
            
            .col-md-6.fp
              %a.title{:href => "#"}
                View Floor Plans &amp; Elevations
              %br
              %strong.title
                Contact Agent:
              %br
              (770) 000-0001
              %br
              blah@bb@g.com
              %br
              %br
              %a.title{:href => "#"}
                Download house plan details in PDF format
          .row
            .col-md-12.fp
              %strong.title
                House Features:
              %ul.no-list-style.fp
                %li 9' Ceilings
                %li Crown Molding
                %li Crown Molding
                %li Crown Molding


    .col-md-2
  .row.shim-top.sm
    .col-md-2.col-sm-1
    .col-md-8.col-sm-10.plan-bar
      Plan Lyndhurst
      .row.generic.shim-top.sm
        .col-md-5.col-sm-5
          =image_tag("Plan3_Lyndhurst/Plan3_1.jpg", style:"width:300px;", class:"plan3-main")
          .slidesA.plana
            %div 
              =image_tag("Plan3_Lyndhurst/Plan3_1.jpg", style:"width:95px;", id:"a1", class:"lil-plan3")
            %div 
              =image_tag("Plan3_Lyndhurst/Plan3_2.jpg", style:"width:95px;", id:"a2", class:"lil-plan3")
            %div 
              =image_tag("Plan3_Lyndhurst/Plan3_3.jpg", style:"width:95px;", id:"a3", class:"lil-plan3")
            %div 
              =image_tag("Plan3_Lyndhurst/Plan3_4.jpg", style:"width:95px;", id:"a4", class:"lil-plan3")
            %div 
              =image_tag("Plan3_Lyndhurst/Plan3_5.jpg", style:"width:95px;", id:"a5", class:"lil-plan3")
            %div 
              =image_tag("Plan3_Lyndhurst/Plan3_6.jpg", style:"width:95px;", id:"a6", class:"lil-plan3")
            %div 
              =image_tag("Plan3_Lyndhurst/Plan3_7.jpg", style:"width:95px;", id:"a7", class:"lil-plan3")
            %div 
              =image_tag("Plan3_Lyndhurst/Plan3_8.jpg", style:"width:95px;", id:"a8", class:"lil-plan3")
            %div 
              =image_tag("Plan3_Lyndhurst/Plan3_9.jpg", style:"width:95px;", id:"a9", class:"lil-plan3")
            %div 
              =image_tag("Plan3_Lyndhurst/Plan3_10.jpg", style:"width:95px;", id:"a10", class:"lil-plan3")
            
          .row
            .col-md-12.col-sm-12.center
              %a.small-font.lnk3{:href => "#"}
                Click to view more larger images
        .col-md-7.col-sm-7.small.fp
          .row
            .col-md-6.col-sm-6.fp
              %b.title
                Sq. Ft.: 
              1500 - 3000
              %br
              %br
              %b.title
                Home Features:
              %ul.no-list-style
                %li 2+ bedrooms
                %li 2+ bathrooms
                %li Walk-in closets
                %li Custom gourmet kitchen
            
            .col-md-6.fp
              %a.title{:href => "#"}
                View Floor Plans &amp; Elevations
              %br
              %strong.title
                Contact Agent:
              %br
              (770) 000-0001
              %br
              blah@bb@g.com
              %br
              %br
              %a.title{:href => "#"}
                Download house plan details in PDF format
          .row
            .col-md-12.fp
              %strong.title
                House Features:
              %ul.no-list-style.fp
                %li 9' Ceilings
                %li Crown Molding
                %li Crown Molding
                %li Crown Molding


    .col-md-2

  .row.shim-top.sm
    .col-md-2.col-sm-1
    .col-md-8.col-sm-10.plan-bar
      Plan Charlotte
      .row.generic.shim-top.sm
        .col-md-5.col-sm-5
          =image_tag("Plan4_Charlotte/Plan4_1.jpg", style:"width:300px;", class:"plan4-main")
          .slidesA.plana
            %div 
              =image_tag("Plan4_Charlotte/Plan4_1.jpg", style:"width:95px;", id:"a1", class:"lil-plan4")
            %div 
              =image_tag("Plan4_Charlotte/Plan4_2.jpg", style:"width:95px;", id:"a2", class:"lil-plan4")
            %div 
              =image_tag("Plan4_Charlotte/Plan4_3.jpg", style:"width:95px;", id:"a3", class:"lil-plan4")
            %div 
              =image_tag("Plan4_Charlotte/Plan4_4.jpg", style:"width:95px;", id:"a4", class:"lil-plan4")
            %div 
              =image_tag("Plan4_Charlotte/Plan4_5.jpg", style:"width:95px;", id:"a5", class:"lil-plan4")
            %div 
              =image_tag("Plan4_Charlotte/Plan4_6.jpg", style:"width:95px;", id:"a6", class:"lil-plan4")
            
          .row
            .col-md-12.col-sm-12.center
              %a.small-font.lnk4{:href => "#"}
                Click to view more larger images
        .col-md-7.col-sm-7.small.fp
          .row
            .col-md-6.col-sm-6.fp
              %b.title
                Sq. Ft.: 
              1500 - 3000
              %br
              %br
              %b.title
                Home Features:
              %ul.no-list-style
                %li 2+ bedrooms
                %li 2+ bathrooms
                %li Walk-in closets
                %li Custom gourmet kitchen
            
            .col-md-6.fp
              %a.title{:href => "#"}
                View Floor Plans &amp; Elevations
              %br
              %strong.title
                Contact Agent:
              %br
              (770) 000-0001
              %br
              blah@bb@g.com
              %br
              %br
              %a.title{:href => "#"}
                Download house plan details in PDF format
          .row
            .col-md-12.fp
              %strong.title
                House Features:
              %ul.no-list-style.fp
                %li 9' Ceilings
                %li Crown Molding
                %li Crown Molding
                %li Crown Molding


    .col-md-2

  .row.shim-top.sm
    .col-md-2.col-sm-1
    .col-md-8.col-sm-10.plan-bar
      Plan Aberdeen
      .row.generic.shim-top.sm
        .col-md-5.col-sm-5
          =image_tag("Plan5_Aberdeen/Plan5_1.jpg", style:"width:300px;", class:"plan5-main")
          .slidesA.plana
            %div 
              =image_tag("Plan5_Aberdeen/Plan5_1.jpg", style:"width:95px;", id:"a1", class:"lil-plan5")
            %div 
              =image_tag("Plan5_Aberdeen/Plan5_2.jpg", style:"width:95px;", id:"a2", class:"lil-plan5")
            %div 
              =image_tag("Plan5_Aberdeen/Plan5_3.jpg", style:"width:95px;", id:"a3", class:"lil-plan5")
            %div 
              =image_tag("Plan5_Aberdeen/Plan5_4.jpg", style:"width:95px;", id:"a4", class:"lil-plan5")
            %div 
              =image_tag("Plan5_Aberdeen/Plan5_5.jpg", style:"width:95px;", id:"a5", class:"lil-plan5")
            %div 
              =image_tag("Plan5_Aberdeen/Plan5_6.jpg", style:"width:95px;", id:"a6", class:"lil-plan5")
            %div 
              =image_tag("Plan5_Aberdeen/Plan5_7.jpg", style:"width:95px;", id:"a7", class:"lil-plan5")
            
          .row
            .col-md-12.col-sm-12.center
              %a.small-font.lnk5{:href => "#"}
                Click to view more larger images
        .col-md-7.col-sm-7.small.fp
          .row
            .col-md-6.col-sm-6.fp
              %b.title
                Sq. Ft.: 
              1500 - 3000
              %br
              %br
              %b.title
                Home Features:
              %ul.no-list-style
                %li 2+ bedrooms
                %li 2+ bathrooms
                %li Walk-in closets
                %li Custom gourmet kitchen
            
            .col-md-6.fp
              %a.title{:href => "#"}
                View Floor Plans &amp; Elevations
              %br
              %strong.title
                Contact Agent:
              %br
              (770) 000-0001
              %br
              blah@bb@g.com
              %br
              %br
              %a.title{:href => "#"}
                Download house plan details in PDF format
          .row
            .col-md-12.fp
              %strong.title
                House Features:
              %ul.no-list-style.fp
                %li 9' Ceilings
                %li Crown Molding
                %li Crown Molding
                %li Crown Molding


    .col-md-2

  .row.shim-top.sm
    .col-md-2.col-sm-1
    .col-md-8.col-sm-10.plan-bar
      Plan Abigail
      .row.generic.shim-top.sm
        .col-md-5.col-sm-5
          =image_tag("Plan6_Abigail/Plan6_1.jpg", style:"width:300px;", class:"plan6-main")
          .slidesA.plana
            %div 
              =image_tag("Plan6_Abigail/Plan6_1.jpg", style:"width:95px;", id:"a1", class:"lil-plan6")
            %div 
              =image_tag("Plan6_Abigail/Plan6_2.jpg", style:"width:95px;", id:"a2", class:"lil-plan6")
            %div 
              =image_tag("Plan6_Abigail/Plan6_3.jpg", style:"width:95px;", id:"a3", class:"lil-plan6")
            %div 
              =image_tag("Plan6_Abigail/Plan6_4.jpg", style:"width:95px;", id:"a4", class:"lil-plan6")
            %div 
              =image_tag("Plan6_Abigail/Plan6_5.jpg", style:"width:95px;", id:"a5", class:"lil-plan6")
            %div 
              =image_tag("Plan6_Abigail/Plan6_6.jpg", style:"width:95px;", id:"a6", class:"lil-plan6")
            
          .row
            .col-md-12.col-sm-12.center
              %a.small-font.lnk6{:href => "#"}
                Click to view more larger images
        .col-md-7.col-sm-7.small.fp
          .row
            .col-md-6.col-sm-6.fp
              %b.title
                Sq. Ft.: 
              1500 - 3000
              %br
              %br
              %b.title
                Home Features:
              %ul.no-list-style
                %li 2+ bedrooms
                %li 2+ bathrooms
                %li Walk-in closets
                %li Custom gourmet kitchen
            
            .col-md-6.fp
              %a.title{:href => "#"}
                View Floor Plans &amp; Elevations
              %br
              %strong.title
                Contact Agent:
              %br
              (770) 000-0001
              %br
              blah@bb@g.com
              %br
              %br
              %a.title{:href => "#"}
                Download house plan details in PDF format
          .row
            .col-md-12.fp
              %strong.title
                House Features:
              %ul.no-list-style.fp
                %li 9' Ceilings
                %li Crown Molding
                %li Crown Molding
                %li Crown Molding


    .col-md-2
  =render 'shared/footer'

.modal.fade{:id=>"largeSlide"}
  .modal-dialog
    .modal-content{style:"background-color:transparent !important;color:#fff;-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.5);box-shadow: 0 0px 0px rgba(0,0,0,.5);border:0px solid #999 !important;"}
      .row.generic.shim-top.sm{style:"background-color:transparent !important;"}
        .col-md-10
           
          
        
          .slides1.plana.largePlanA{style:"margin-left:115px;"}
            %div
              =image_tag("Plan1_Claire/1.jpg", style:"width:130px;", id:"a1", class:"wlil-plana", "data-id"=>"a1")
            %div
              =image_tag("Plan1_Claire/2.jpg", style:"width:130px;", id:"a2", class:"wlil-plana", "data-id"=>"a2")
            %div 
              =image_tag("Plan1_Claire/3.jpg", style:"width:130px;", id:"a3", class:"wlil-plana", "data-id"=>"a3")
            %div 
              =image_tag("Plan1_Claire/4.jpg", style:"width:130px;", id:"a4", class:"wlil-plana", "data-id"=>"a4")
            %div 
              =image_tag("Plan1_Claire/5.jpg", style:"width:130px;", id:"a5", class:"wlil-plana", "data-id"=>"a5")
            %div 
              =image_tag("Plan1_Claire/6.jpg", style:"width:130px;", id:"a6", class:"wlil-plana", "data-id"=>"a5")
            %div 
              =image_tag("Plan1_Claire/7.jpg", style:"width:130px;", id:"a7", class:"wlil-plana", "data-id"=>"a5")
            %div 
              =image_tag("Plan1_Claire/8.jpg", style:"width:130px;", id:"a8", class:"wlil-plana", "data-id"=>"a5")
            %div 
              =image_tag("Plan1_Claire/9.jpg", style:"width:130px;", id:"a9", class:"wlil-plana", "data-id"=>"a5")
            %div 
              =image_tag("Plan1_Claire/10.jpg", style:"width:130px;", id:"a10", class:"wlil-plana", "data-id"=>"a5")
            %div 
              =image_tag("Plan1_Claire/11.jpg", style:"width:130px;", id:"a11", class:"wlil-plana", "data-id"=>"a5")
          =image_tag("Plan1_Claire/1.jpg", style:"width:180%;max-width:190%;margin-left:-135px;", class:"wplana-main mod")
        .col-md-2
          %span.close-modal{class:"glyphicon glyphicon-remove-circle", style:"margin-left: 235px;font-size: 20px;"} 


.modal.fade{:id=>"largeSlide2"}
  .modal-dialog
    .modal-content{style:"background-color:transparent !important;color:#fff;-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.5);box-shadow: 0 0px 0px rgba(0,0,0,.5);border:0px solid #999 !important;"}
      .row.generic.shim-top.sm{style:"background-color:transparent !important;"}
        .col-md-10{}
          
        
          .slides2.plana.largePlanB{style:"margin-left:115px;"}
            %div
              =image_tag("Plan2_Inverness/Plan2_1.jpg", style:"width:130px;", id:"a1", class:"clil-planb", "data-id"=>"b1")
            %div
              =image_tag("Plan2_Inverness/Plan2_2.jpg", style:"width:130px;", id:"a2", class:"clil-planb", "data-id"=>"b2")
            %div 
              =image_tag("Plan2_Inverness/Plan2_3.jpg", style:"width:130px;", id:"a3", class:"clil-planb", "data-id"=>"b3")
            %div 
              =image_tag("Plan2_Inverness/Plan2_4.jpg", style:"width:130px;", id:"a4", class:"clil-planb", "data-id"=>"b4")
            %div 
              =image_tag("Plan2_Inverness/Plan2_5.jpg", style:"width:130px;", id:"a5", class:"clil-planb", "data-id"=>"b5")
            %div 
              =image_tag("Plan2_Inverness/Plan2_6.jpg", style:"width:130px;", id:"a6", class:"clil-planb", "data-id"=>"b6")
            %div 
              =image_tag("Plan2_Inverness/Plan2_7.jpg", style:"width:130px;", id:"a7", class:"clil-planb", "data-id"=>"b7")
            %div 
              =image_tag("Plan2_Inverness/Plan2_8.jpg", style:"width:130px;", id:"a8", class:"clil-planb", "data-id"=>"b8")
            %div 
              =image_tag("Plan2_Inverness/Plan2_9.jpg", style:"width:130px;", id:"a9", class:"clil-planb", "data-id"=>"b9")
            %div 
              =image_tag("Plan2_Inverness/Plan2_10.jpg", style:"width:130px;", id:"a10", class:"clil-planb", "data-id"=>"b10")
            %div 
              =image_tag("Plan2_Inverness/Plan2_11.jpg", style:"width:130px;", id:"a11", class:"clil-planb", "data-id"=>"b11")
            %div 
              =image_tag("Plan2_Inverness/Plan2_12.jpg", style:"width:130px;", id:"a12", class:"clil-planb", "data-id"=>"b12")
          =image_tag("Plan2_Inverness/Plan2_1.jpg", style:"width:180%;max-width:190%;margin-left:-135px;", class:"cplanb-main mod")
        .col-md-2
          %span.close-modal{class:"glyphicon glyphicon-remove-circle", style:"margin-left: 235px;font-size: 20px;"}
  

  

.modal.fade{:id=>"largeSlide3"}
  .modal-dialog
    .modal-content{style:"background-color:transparent !important;color:#fff;-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.5);box-shadow: 0 0px 0px rgba(0,0,0,.5);border:0px solid #999 !important;"}
      .row.generic.shim-top.sm{style:"background-color:transparent !important;"}
        .col-md-10{}
          
        
          .slides3.plana.largePlanB{style:"margin-left:115px;"}
            %div
              =image_tag("Plan3_Lyndhurst/Plan3_1.jpg", style:"width:130px;", id:"a1", class:"clil-plan3", "data-id"=>"b1")
            %div
              =image_tag("Plan3_Lyndhurst/Plan3_2.jpg", style:"width:130px;", id:"a2", class:"clil-plan3", "data-id"=>"b2")
            %div 
              =image_tag("Plan3_Lyndhurst/Plan3_3.jpg", style:"width:130px;", id:"a3", class:"clil-plan3", "data-id"=>"b3")
            %div 
              =image_tag("Plan3_Lyndhurst/Plan3_4.jpg", style:"width:130px;", id:"a4", class:"clil-plan3", "data-id"=>"b4")
            %div 
              =image_tag("Plan3_Lyndhurst/Plan3_5.jpg", style:"width:130px;", id:"a5", class:"clil-plan3", "data-id"=>"b5")
            %div 
              =image_tag("Plan3_Lyndhurst/Plan3_6.jpg", style:"width:130px;", id:"a6", class:"clil-plan3", "data-id"=>"b6")
            %div 
              =image_tag("Plan3_Lyndhurst/Plan3_7.jpg", style:"width:130px;", id:"a7", class:"clil-plan3", "data-id"=>"b7")
            %div 
              =image_tag("Plan3_Lyndhurst/Plan3_8.jpg", style:"width:130px;", id:"a8", class:"clil-plan3", "data-id"=>"b8")
            %div 
              =image_tag("Plan3_Lyndhurst/Plan3_9.jpg", style:"width:130px;", id:"a9", class:"clil-plan3", "data-id"=>"b9")
            %div 
              =image_tag("Plan3_Lyndhurst/Plan3_10.jpg", style:"width:130px;", id:"a10", class:"clil-plan3", "data-id"=>"b10")
          =image_tag("Plan3_Lyndhurst/Plan3_1.jpg", style:"width:180%;max-width:190%;margin-left:-135px;", class:"cplan3-main mod")
        .col-md-2
          %span.close-modal{class:"glyphicon glyphicon-remove-circle", style:"margin-left: 235px;font-size: 20px;"}

.modal.fade{:id=>"largeSlide4"}
  .modal-dialog
    .modal-content{style:"background-color:transparent !important;color:#fff;-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.5);box-shadow: 0 0px 0px rgba(0,0,0,.5);border:0px solid #999 !important;"}
      .row.generic.shim-top.sm{style:"background-color:transparent !important;"}
        .col-md-10{}
          
        
          .slides4.plana.largePlanB{style:"margin-left:115px;"}
            %div
              =image_tag("Plan4_Charlotte/Plan4_1.jpg", style:"width:130px;", id:"a1", class:"clil-plan4", "data-id"=>"b1")
            %div
              =image_tag("Plan4_Charlotte/Plan4_2.jpg", style:"width:130px;", id:"a2", class:"clil-plan4", "data-id"=>"b2")
            %div 
              =image_tag("Plan4_Charlotte/Plan4_3.jpg", style:"width:130px;", id:"a3", class:"clil-plan4", "data-id"=>"b3")
            %div 
              =image_tag("Plan4_Charlotte/Plan4_4.jpg", style:"width:130px;", id:"a4", class:"clil-plan4", "data-id"=>"b4")
            %div 
              =image_tag("Plan4_Charlotte/Plan4_5.jpg", style:"width:130px;", id:"a5", class:"clil-plan4", "data-id"=>"b5")
            %div 
              =image_tag("Plan4_Charlotte/Plan4_6.jpg", style:"width:130px;", id:"a6", class:"clil-plan4", "data-id"=>"b6")
          =image_tag("Plan4_Charlotte/Plan4_1.jpg", style:"width:180%;max-width:190%;margin-left:-135px;", class:"cplan4-main mod")
        .col-md-2
          %span.close-modal{class:"glyphicon glyphicon-remove-circle", style:"margin-left: 235px;font-size: 20px;"}


.modal.fade{:id=>"largeSlide5"}
  .modal-dialog
    .modal-content{style:"background-color:transparent !important;color:#fff;-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.5);box-shadow: 0 0px 0px rgba(0,0,0,.5);border:0px solid #999 !important;"}
      .row.generic.shim-top.sm{style:"background-color:transparent !important;"}
        .col-md-10{}
          
        
          .slides5.plana.largePlanB{style:"margin-left:115px;"}
            %div
              =image_tag("Plan5_Aberdeen/Plan5_1.jpg", style:"width:130px;", id:"a1", class:"clil-plan5", "data-id"=>"b1")
            %div
              =image_tag("Plan5_Aberdeen/Plan5_2.jpg", style:"width:130px;", id:"a2", class:"clil-plan5", "data-id"=>"b2")
            %div 
              =image_tag("Plan5_Aberdeen/Plan5_3.jpg", style:"width:130px;", id:"a3", class:"clil-plan5", "data-id"=>"b3")
            %div 
              =image_tag("Plan5_Aberdeen/Plan5_4.jpg", style:"width:130px;", id:"a4", class:"clil-plan5", "data-id"=>"b4")
            %div 
              =image_tag("Plan5_Aberdeen/Plan5_5.jpg", style:"width:130px;", id:"a5", class:"clil-plan5", "data-id"=>"b5")
            %div 
              =image_tag("Plan5_Aberdeen/Plan5_6.jpg", style:"width:130px;", id:"a6", class:"clil-plan5", "data-id"=>"b6")
          =image_tag("Plan5_Aberdeen/Plan5_1.jpg", style:"width:180%;max-width:190%;margin-left:-135px;", class:"cplan5-main mod")
        .col-md-2
          %span.close-modal{class:"glyphicon glyphicon-remove-circle", style:"margin-left: 235px;font-size: 20px;"}



.modal.fade{:id=>"largeSlide6"}
  .modal-dialog
    .modal-content{style:"background-color:transparent !important;color:#fff;-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.5);box-shadow: 0 0px 0px rgba(0,0,0,.5);border:0px solid #999 !important;"}
      .row.generic.shim-top.sm{style:"background-color:transparent !important;"}
        .col-md-10{}
          .slides6.plana.largePlanB{style:"margin-left:115px;"}
            %div
              =image_tag("Plan6_Abigail/Plan6_1.jpg", style:"width:130px;", id:"a1", class:"clil-plan6", "data-id"=>"b1")
            %div
              =image_tag("Plan6_Abigail/Plan6_2.jpg", style:"width:130px;", id:"a2", class:"clil-plan6", "data-id"=>"b2")
            %div 
              =image_tag("Plan6_Abigail/Plan6_3.jpg", style:"width:130px;", id:"a3", class:"clil-plan6", "data-id"=>"b3")
            %div 
              =image_tag("Plan6_Abigail/Plan6_4.jpg", style:"width:130px;", id:"a4", class:"clil-plan6", "data-id"=>"b4")
            %div 
              =image_tag("Plan6_Abigail/Plan6_5.jpg", style:"width:130px;", id:"a5", class:"clil-plan6", "data-id"=>"b5")
            %div 
              =image_tag("Plan6_Abigail/Plan6_6.jpg", style:"width:130px;", id:"a6", class:"clil-plan6", "data-id"=>"b6")
          =image_tag("Plan6_Abigail/Plan6_1.jpg", style:"width:180%;max-width:190%;margin-left:-135px;", class:"cplan6-main mod")
        
          
        .col-md-2
          %span.close-modal{class:"glyphicon glyphicon-remove-circle", style:"margin-left: 235px;font-size: 20px;"}