.container
  =render '/shared/header'

  .row
    
    .col-md-12.navvy
      .row
        
        .col-sm-2.active
          %a{:href => "/"}
            HOME
        .col-sm-2
          %a{:href => "/features"}
            FEATURES
        .col-sm-2
          %a{:href => "/plans"}
            FLOORPLANS
        .col-sm-2
          %a{:href => "/location"}
            LOCATION
        .col-sm-2
          %a{:href => "/site-plan"}
            SITE PLAN
        .col-sms-2
          %a{:href => "/contact"}
            CONTACT US  
  
  .row.shim-top.sm
    .col-md-8.col-sm-8
      Escape into the world of retirement freedom and sophisticated lifestyles for empty-nestors and retirees now available at Serenity by Treetop Residential. This exclusive new development in historic and scenic Cherokee County offers the ultimate luxurious lifestyles opportunities. Choose from an array of semi-custom homes, complete with interior designer consultation at no cost. Join the lucky few who will experience the richness of urban dwelling in the ultimate rural setting. Designed specifically with the 55 and up age group, Serenity is matchless in its refined selections of architectural options.
    .col-md-4.col-sm-4

      
      =image_tag("mottoimage", class:"motto")
      .email
        Join our mailing list:
        %input{type:"text", :id=>"email-main", :value=>""}
        %button{class:"email-button"}
          Join
    
  .row.give-room-top
    .col-md-2.col-sm-2.shim-top.sm
      =image_tag("priceimage.png", class:"price")
    .col-sm-3.col-md-3.shim-top.sm
      
      %p.first-pblock{style:""}
        Serenity offers everything that its name implies. Join the select few who will embrace the beauty and lifestyle of this exclusive opportunity!
    .col-sm-3.col-md-2.middle-piece.shim-top.sm
      
      %p
        Serenity is:
        %ul.bullets-wide
          %li Luxury Active-Adult Lifestyles
          %li Custom Designed Options
          %li Master-on-the-Main Plans
          %li Low Maintenance Living
    .col-md-1.col-sm-2
      %p.shim-left.sm.under-email
        You expect the best, and Treetop Residential provides it in its exclusive architectural designs. Join the fortunate few who will embrace the moments of each new day spent in the quality craftsmanship of Serenity, located in beautiful Woodstock, Georgia, ranked as one of the top locales in which to live by
        %a{:href => "http://time.com/money/3984495/woodstock-georgia-best-places-to-live-2015/"}
          Money Magazine

    
      

 

  .row.shim-bottom.med.shim-top
    .col-md-12.med-font.landing-images
      .money-text
        Located in historic Woodstock, Georgia, ranked as one of the top U.S. communities in which to live -
        %a{:href => "http://time.com/money/3984495/woodstock-georgia-best-places-to-live-2015/"}
          Money Magazine
      =image_tag("moneymagazineimage", class:"money-image")
    
      =image_tag("landingimage1", class:"first-landing three-amigos")
    
      =image_tag("landingimage2", class:"three-amigos")
    
      =image_tag("landingimage3", class:"three-amigos")
  =render 'shared/footer'
      
