.container
  =render '/shared/header'

  .row  
    .col-md-2
      %a{:href => "/"}
        HOME
    .col-md-2
      %a{:href => "/features"}
        FEATURES
    .col-md-2
      %a{:href => "/plans"}
        FLOORPLANS
    .col-md-2
      %a{:href => "/location"}
        LOCATION
    .col-md-2
      %a{:href => "/site-plan"}
        SITE PLAN
    .col-md-2
      %a{:href => "/contact"}
        CONTACT US  
  .row.shim-top.sm
    
    .col-md-6
      %p
        Serenity located at 5790 Holly Spring Parkway, Woodstock, GA 30188
      %p
        Neighborhood located near great places:
        %ul
          %li Shoppes of Atlanta
          %li 2.4 miles from Downtown of Holly Springs
          %li 0.0 miles from Historic Downtown of Holly Springs
          %li Publix
          %li Blah
          %li Kroger
          %li Nail Shoppe
      %p
        Bacon ipsum dolor amet tri-tip leberkas sausage, turducken beef turkey prosciutto tongue chuck short loin pig porchetta pork loin drumstick kevin. Pastrami swine pork, shankle andouille tenderloin brisket. Prosciutto chicken strip steak turducken. Swine beef ribs sirloin shoulder tenderloin, picanha shank.

        Drumstick cupim pork loin, ham meatloaf filet mignon ribeye ground round alcatra bresaola sirloin corned beef salami shankle. Swine jowl tail boudin andouille bacon pork loin short loin sirloin jerky. Shoulder cow ball tip, ham turkey short ribs fatback pork loin jerky drumstick tail pig. Biltong porchetta drumstick kielbasa, bacon cupim meatball cow. Jowl alcatra short loin prosciutto hamburger flank. Ribeye pastrami chicken filet mignon.

        Short ribs tongue pork belly, kevin jerky pancetta ribeye pork chop short loin beef landjaeger turducken rump biltong shankle. Tail biltong doner spare ribs drumstick meatball shoulder kielbasa meatloaf pork loin frankfurter corned beef. Shankle corned beef drumstick doner rump. Bresaola rump swine brisket shoulder.
    .col-md-6
      %img.contact-us{:alt => "Google Map of 5790 Holly Springs Parkway, Woodstock, GA", :src => "http://maps.googleapis.com/maps/api/staticmap?center=5790+Holly+Springs+Parkway,+Woodstock,+GA&zoom=16&scale=false&size=400x350&maptype=roadmap&format=jpg&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7C5790+Holly+Springs+Parkway,+Woodstock,+GA"}/
      .row
        .col-md-4
          %b
            Directions from Atlanta:
          Take I-75 N to 575 N
          %br/
          Exit 9
        .col-md-1
        .col-md-4
          %b
            Directions from Atlanta:
          Take I-75 N to 575 N
          %br/
          Exit 9    
  =render 'shared/footer'