.container
  =render '/shared/header'

  .row
    .col-md-12.navvy
      .row
        
        .col-sm-2
          %a{:href => "/"}
            HOME
        .col-sm-2
          %a{:href => "/features"}
            FEATURES
        .col-sm-2
          %a{:href => "/plans"}
            FLOORPLANS
        .col-sm-2
          %a{:href => "/location"}
            LOCATION
        .col-sm-2.active
          %a{:href => "/site-plan"}
            SITE PLAN
        .col-sms-2
          %a{:href => "/contact"}
            CONTACT US   
  .row.shim-top.sm
    .col-md-2.col-sm-2
    .col-md-8.col-sm-10
      %img{:src => "/assets/siteplanimage.png", :class=>"site-plan-img", :alt => ""}/
    .col-md-2.col-sm-2
  =render 'shared/footer'