.container
  =render '/shared/header'

  .row  
    .col-md-2
      %a{:href => "/"}
        HOME
    .col-md-2
      %a{:href => "/features"}
        FEATURES
    .col-md-2
      %a{:href => "/plans"}
        FLOORPLANS
    .col-md-2
      %a{:href => "/location"}
        LOCATION
    .col-md-2
      %a{:href => "/site-plan"}
        SITE PLAN
    .col-md-2
      %a{:href => "/contact"}
        CONTACT US  
  .row.shim-top.sm
    .col-md-2
    .col-md-8
      %img{:src => "/assets/siteplanimage.png", :alt => ""}/
    .col-md-2
  =render 'shared/footer'